<div class="container">
  <div class = "d-flex align-items-center">
  <h2>商品一覧</h2>(全x件)</div>
  <div class="row">
    <div class="col-3">
    <div class= "d-flex flex-wrap justify-content-around">
    <img src="images/img1.jpg" class="card-img-top">
    <div class="card-body">
        <p class="card-title">商品名</p>
        <p>¥0,000</p>
        </div>
    </div>
    </div>
  </div>
</div>
    